In [73]:

import pandas as pd
url='https://raw.githubusercontent.com/IHawkI/project/refs/heads/main/df_sucio(in).csv'
df=pd.read_csv(url)
df

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
0,1000.0,53,Male,No,Smartphone,SKU1004,2.0,Cancelled,Credit Card,5538.33,791.19,7,3/20/2024,Standard,"Accessory,Accessory,Accessory",40.21
1,1000.0,53,Male,No,Tablet,SKU1002,3.0,Completed,Paypal,741.09,247.03,3,4/20/2024,Overnight,Impulse Item,26.09
2,1002.0,41,Male,No,Laptop,SKU1005,3.0,Completed,Credit Card,1855.84,463.96,4,10/17/2023,Express,NaN,0
3,1002.0,41,Male,Yes,Smartphone,SKU1004,2.0,Completed,Cash,3164.76,791.19,4,8/9/2024,Overnight,"Impulse Item,Impulse Item",60.16
4,1003.0,75,Male,Yes,Smartphone,SKU1001,5.0,Completed,Cash,41.5,20.75,2,5/21/2024,Express,Accessory,35.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21980,7043.0,49,Male,Yes,Smartphone,SKU1001,5.0,Completed,Paypal,207.5,20.75,10,7/16/2024,Express,Extended Warranty,18
21981,9617.0,53,Female,No,Laptop,SKU1005,3.0,Completed,Cash,4639.6,463.96,10,5/20/2024,Overnight,Accessory,26.53
21982,3934.0,42,Male,Yes,Smartphone,SKU1004,2.0,Completed,Credit Card,4747.14,791.19,6,5/3/2024,Standard,Accessory,28.71
21983,15238.0,73,Female,No,Headphones,HDP456,5.0,Completed,Bank Transfer,1083.54,361.18,3,3/18/2024,Expedited,NaN,0
21984,18666.0,NaN,Male,No,Smartphone,SMP234,2.0,Completed,Bank Transfer,1139.68,1139.68,1,5/8/2024,Same Day,Accessory,96.31

In [76]:
lista_col=df.columns
lista_col
for i in lista_col:
 print(f"en la columna {i} son {df[df[i]=='bbb'].shape[0]}")

en la columna Customer ID son 0
en la columna Age son 426
en la columna Gender son 0
en la columna Loyalty Member son 0
en la columna Product Type son 0
en la columna SKU son 0
en la columna Rating son 0
en la columna Order Status son 417
en la columna Payment Method son 423
en la columna Total Price son 423
en la columna Unit Price son 413
en la columna Quantity son 417
en la columna Purchase Date son 0
en la columna Shipping Type son 0
en la columna Add-ons Purchased son 407
en la columna Add-on Total son 423

In [50]:
for i in lista_col:
    df1=df[df[i] !="bbb"]
    
df2=df1.fillna(0) 
df2

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
0,1000.0,53,Male,No,Smartphone,SKU1004,2.0,Cancelled,Credit Card,5538.33,791.19,7,3/20/2024,Standard,"Accessory,Accessory,Accessory",40.21
1,1000.0,53,Male,No,Tablet,SKU1002,3.0,Completed,Paypal,741.09,247.03,3,4/20/2024,Overnight,Impulse Item,26.09
2,1002.0,41,Male,No,Laptop,SKU1005,3.0,Completed,Credit Card,1855.84,463.96,4,10/17/2023,Express,0,0
3,1002.0,41,Male,Yes,Smartphone,SKU1004,2.0,Completed,Cash,3164.76,791.19,4,8/9/2024,Overnight,"Impulse Item,Impulse Item",60.16
4,1003.0,75,Male,Yes,Smartphone,SKU1001,5.0,Completed,Cash,41.5,20.75,2,5/21/2024,Express,Accessory,35.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21980,7043.0,49,Male,Yes,Smartphone,SKU1001,5.0,Completed,Paypal,207.5,20.75,10,7/16/2024,Express,Extended Warranty,18
21981,9617.0,53,Female,No,Laptop,SKU1005,3.0,Completed,Cash,4639.6,463.96,10,5/20/2024,Overnight,Accessory,26.53
21982,3934.0,42,Male,Yes,Smartphone,SKU1004,2.0,Completed,Credit Card,4747.14,791.19,6,5/3/2024,Standard,Accessory,28.71
21983,15238.0,73,Female,No,Headphones,HDP456,5.0,Completed,Bank Transfer,1083.54,361.18,3,3/18/2024,Expedited,0,0
21984,18666.0,0,Male,No,Smartphone,SMP234,2.0,Completed,Bank Transfer,1139.68,1139.68,1,5/8/2024,Same Day,Accessory,96.31

In [53]:
lista_col1=df2.columns
for i in lista_col:
 print(f"en la columna {i} son {df2[df2[i]=='bbb'].shape[0]}")

en la columna Customer ID son 0
en la columna Age son 0
en la columna Gender son 0
en la columna Loyalty Member son 0
en la columna Product Type son 0
en la columna SKU son 0
en la columna Rating son 0
en la columna Order Status son 0
en la columna Payment Method son 0
en la columna Total Price son 0
en la columna Unit Price son 0
en la columna Quantity son 0
en la columna Purchase Date son 0
en la columna Shipping Type son 0
en la columna Add-ons Purchased son 0
en la columna Add-on Total son 0

In [80]:
def remove_duplicates(cell):
    if isinstance(cell, str):
        items = cell.split(', ')
        unique_items = list(dict.fromkeys(items))
        return ', '.join(unique_items)
    return cell
df3= df['Add-ons Purchased'].apply(remove_duplicates)


df_limpio=df3
df4=df_limpio.to_csv('df_limpio.csv', index=False)
df4